<div class="auth auth__sign_in">
  <h2 class="auth__title">Вход</h2>
  <form class="auth__content" onSubmit="renderPage('chat')">
    {{> input name="login" label="Логин" value="ivanivanov" type="text"}}
    {{> input name="password" label="Пароль" value="ivanivanov" type="password"}}
    {{> button type="submit" label="Авторизоваться"}}
  </form>
  <a onClick="renderPage('sign_up')" class="auth__link">Нет аккаунта?</a>
</div>
