<div class="side_action">
  <button onClick="renderPage('chat')" class="side_action__button">
    <
  </button>
</div>
<div class="profile">
  <div class="profile__wrap">
    <button class="profile__avatar" onClick="togglePopup({
      title: 'Загрузить файл',
      content: '',
      buttonLabel: 'Поменять'
    });">
      <img src="https://img.freepik.com/free-vector/mysterious-mafia-man-smoking-cigarette_52683-34828.jpg?w=1380&t=st=1668431150~exp=1668431750~hmac=8d4d0abf35a97041992b41d7ebe3466896e126b9b70d5fb64615c30be0bf9432" alt="" class="avatar">
    </button>
    <div class="profile__fields">
      {{> field name="email" label="Почта" value="ivanivanov@yandex.ru"}}
      {{> field name="login" label="Логин" value="ivanivanov"}}
      {{> field name="first_name" label="Имя" value="Иван"}}
      {{> field name="second_name" label="Фамилия" value="Иванов"}}
      {{> field name="phone" label="Телефон" value="+7 (909) 967 30 30"}}
    </div>

    <a class="profile__link" onClick="renderPage('edit_account')">Изменить данные</a>
    <a class="profile__link" onClick="renderPage('password')">Изменить пароль</a>
    <a class="profile__link" onClick="renderPage('sign_in')">Выйти</a>
  </div>
</div>
