<div class="popup__overlay" onClick="togglePopup()"></div>
<div class="popup__centered">
  <div class="popup__title">{{title}}</div>
  <div class="popup__content">
    {{content}}
    <input type="file">
  </div>
  {{{button}}}
</div>
