$main-background: #FFFFFF;
$gray-background-color: #FBFBFB;
$main-color: #000000;
$accent-color: #3369F3;
$success-color: #279B4C;
$error-color: #E86161;
$separator-color: #EAEAEA;
$inactive-color: #999999;

$message-from-color: #F8F8F8;
$message-from-border: #F1F1F1;
$message-to-color: #E4EDFD;
$message-to-border: #D7E6FF;

$box-shadow-color: rgb(0 0 0 / 0.2);

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 13px;
  background-color: $main-background;
  color: $main-color;
  overflow: hidden;
}

a {
  color: $accent-color;
  cursor: pointer;
  text-decoration: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
  border: none;
  line-height: 32px;
  box-sizing: border-box;

  &::placeholder {
    color: $inactive-color;
  }
}

button {
  cursor: pointer;
  border: none;
  background: $accent-color;
  color: white;
}

#app,
.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.auth {
  padding: 30px;
  border-radius: 12px;
  width: 340px;
  box-sizing: border-box;
  box-shadow: 0 0 6px $box-shadow-color;
  margin: auto;

  &__title {
    text-align: center;
    font-size: 20px;
    padding: 10px 0 20px;
    font-weight: 500;
  }

  &__content {
    min-height: 200px;
    margin-bottom: 60px;
  }

  &__link {
    display: block;
    margin: 10px auto;
    background: none;
    color: $accent-color;
    text-align: left;
  }

  button {
    width: 100%;
    max-width: 280px;
    height: 37px;
    border-radius: 8px;
  }
}

.input {
  margin-bottom: 16px;

  &__label {
    font-size: 9px;
    color: $inactive-color;
  }

  &__error {
    opacity: 0;
  }

  &__el {
    width: 100%;
    border-bottom: 1px solid $accent-color;

    &:required:valid {
      border-color: $success-color;
    }

    &:not(:placeholder-shown):invalid {
      border-color: $error-color;
    }

    &:not(:placeholder-shown):invalid + .input__error {
      opacity: 1;
      color: $error-color;
    }
  }
}

.field {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid $separator-color;
  justify-content: space-between;

  &__value {
    text-align: right;
    color: $inactive-color;
  }
}

.header {
  &__user {
    display: flex;
    align-items: center;
    flex: 1;
  }

  &__chat_edit {
    button {
      border-radius: 8px;
      padding: 4px 18px;
      background: $separator-color;
    }
  }
}

.chat {
  display: flex;
  width: 100%;

  &__sidebar {
    padding: 10px;
    width: 310px;
    min-width: 310px;
    box-sizing: border-box;
    background: $gray-background-color;
  }

  &__messages {
    display: flex;
    width: 100%;
    padding: 0 20px;
    flex-direction: column;
  }

  .messages__pick_action {
    margin: auto;
    color: $inactive-color;
  }

  .preview_message {
    cursor: pointer;
    display: flex;
    padding: 12px 0;
    border-bottom: 1px solid $separator-color;

    &__hashlink {
      width: 100%;
      display: flex;
      text-decoration: none;
    }

    &__info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: end;
    }

    &__avatar {
      width: 47px;  height: 47px;
      background: $separator-color;
      margin-right: 10px;
      border-radius: 100%;
      overflow: hidden;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    &__name {
      font-weight: bold;
      color: $main-color;
    }

    &__data {
      flex: 1;
    }

    &__badge {
      color: $main-background;
      text-align: center;
      background-color: $accent-color;
      border-radius: 10px;
      margin-top: 5px;
      line-height: 20px;
      width: fit-content;
      padding: 0 6px;
    }
  }
}

.messages {
  &__header,
  &__bottom {
    height: 54px;
    display: flex;
    align-items: center;
  }

  &__list {
    flex: 1;
    border-top: 2px solid $separator-color;
    border-bottom: 2px solid $separator-color;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
}

.message {
  background: $message-from-color;
  max-width: 400px;
  margin: 15px 0;
  border-radius: 5px;
  border: 1px solid $message-from-border;
  padding: 10px;
  width: fit-content;

  &[data-direction="1"] {
    background: $message-to-color;
    border-color: $message-to-border;
    align-self: flex-end;
  }
}

.send_message {
  form {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .input {
    &--attachment {
      margin-bottom: 0;
      width: 20px;
      height: 30px;

      input[type="file"] {
        display: none;
      }
      label { font-size: 19px; }
    }

    &--message {
      flex: 1;
      margin: 0 20px;
      label { display: none; }

      input {
        height: 30px;
        line-height: 30px;
      }
    }
  }

  button {
    cursor: pointer;
    color: $main-background;
    background: $accent-color;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 12px;
  }
}

.sidebar {
  &__header {
    line-height: 40px;
    text-align: right;

    button {
      color: $inactive-color;
      background: none;
    }
  }
}

.search {
  &__input {
    background: $separator-color;
    border-radius: 5px;
    padding: 0 10px;
    width: 100%;
  }
}

.side_action {
  border: 1px solid $separator-color;
  background: $gray-background-color;
  display: flex;
  width: 64px;
  align-items: center;
  justify-content: center;

  button {
    background: $accent-color;
    width: 28px;
    border-radius: 100%;
    color: $main-background;
    line-height: 28px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
  }
}

.profile {
  display: flex;
  margin: auto;

  &__wrap {
    width: 510px;
  }

  &__fields {
    margin-bottom: 50px;
  }

  &__buttons button {
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
    display: flex;
    width: 100%;
    background: none;
    color: #3369f3;
  }

  &__avatar {
    width: 130px;
    height: 130px;
    border-radius: 100%;
    overflow: hidden;
    margin: 0 auto 50px;
    display: block;
    background: none;
    position: relative;
    padding: 0;
    border: 1px solid $separator-color;
    background: $separator-color;

    &_attacher {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0;
      z-index: 9;
    }

    img {
      max-width: 100%;
      height: auto;
    }

    &:hover {
      &::before {
        content: "Поменять";
        color: $main-background;
        z-index: 2;
        font-weight: bold;
        font-size: 12px;
        position: absolute;
        bottom: 32px;
        left: 0;
        right: 0;
        margin: auto;
        text-shadow: 1px 2px 3px $main-color;
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $box-shadow-color;
        z-index: 1;
        content: "";
      }
    }
  }

  .button {
    width: 280px;
    line-height: 37px;
    border-radius: 8px;
    margin: 0 auto;
    display: block;
  }
}

.global_error {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  &__centered {
    text-align: center;
  }

  &__title {
    font-size: 40px;
    margin-bottom: 10px;
  }

  &__desc {
    font-size: 20px;
    margin-bottom: 40px;
  }
}

.popup {
  z-index: 99;

  &__overlay {
    left: 0;
    background: $box-shadow-color;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
  }

  &__centered {
    width: 340px;
    height: 180px;
    background: $main-background;
    box-shadow: 0 0 6px $box-shadow-color;
    border-radius: 12px;
    padding: 30px;
    box-sizing: border-box;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;

    .button {
      line-height: 37px;
      border-radius: 8px;
      width: 100%;
      cursor: pointer;
    }
  }

  &__title {
    font-size: 15px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
  }

  &__content {
    margin-bottom: 15px;
  }
}

.user {
  &__username {
    font-size: 15px;
    margin-left: 5px;
  }

  &__avatar {
    width: 40px;
    height: 40px;

    img { width: 100%; }
  }
}
