<div class="global_error">
  <div class="global_error__centered">
    <div class="global_error__title">404</div>
    <div class="global_error__desc">Мы уже фиксим</div>
    <a href="/chat">Назад к чатам</a>
  </div>
</div>
